.navbar{
    width: 520px;
    border: 1px solid rgb(224, 220, 220);
    border-top: 0px;
    height: 45px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.navbar button {
    margin: 0px 10px 0px 0px;
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  padding: 2px 7px;
  border-radius: 5%;
  background-color: transparent;
}


.navbar button:hover {
    margin: 0px 10px 0px 0px;
    padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: rgb(246, 157, 109);
  padding: 2px 7px;
  border: 1px solid rgb(166, 123, 123);
  border-radius: 5%;
}


.counter {
    margin: 0px 0px 0px 10px;
}

.navbarLinks {
    display: flex;
    align-items: center;
   
}

.navbarLink {
margin: 0px 15px 0px 15px;
text-decoration:none;
color: inherit;
}

.navbarLinkActive {
    margin: 0px 15px 0px 15px;
    border: 1px solid rgb(166, 123, 123);
    border-radius: 5%;
    padding: 2px 7px;
    text-decoration:none;
    color: inherit;
    }
